<div class="row site-header" role="banner">
    <div class="col-12 col-xl-8">
        <div class="site-title">
            <h1><a href="/">{{ site.title }}</a></h1>
            <h2>{{ site.description }}</h2>
        </div>
    </div>
    <div class="col-12 col-xl-4 header-widgets">
        <nav>
            <ul>
                <li class="viewall">
                    <a href="/blog" title="Все статьи">
                        Календарь событий							</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
