<aside class="sidebar">
    <div class="wrapper">

        <div class="design-selection" id="design-selection">
            <nav>
                <ul>
                    {% include nav.html %}
                </ul>
            </nav>
        </div>

        <div class="zen-resources" id="zen-resources">
            <ul>
                <li>
                    <a href="http://structure.mil.ru/structure/forces/navy.htm" title="Военно-Морской Флот России">Военно-Морской Флот России</a>
                </li>
                <li>
                    <a href="http://mmflota.ru/" title="Музей морского флота">Музей морского флота</a>
                </li>
                <li class="zen-faq">
                    <a href="http://www.morflot.ru/" title="ФЕДЕРАЛЬНОЕ АГЕНТСТВО МОРСКОГО И РЕЧНОГО ТРАНСПОРТА">ФЕДЕРАЛЬНОЕ АГЕНТСТВО МОРСКОГО И РЕЧНОГО ТРАНСПОРТА</a>
                </li>
                <li class="zen-submit">
                    <a href="http://www.mosrechflot.ru" title="Гринпис">МОСРЕЧФЛОТ</a>
                </li>
                <!--<li class="zen-translations">
                    <a href="https://www.gosuslugi.ru/structure/10000002823" title="Федеральная служба по надзору в сфере природопользования">Федеральная служба по надзору в сфере природопользования</a>
                </li>-->
            </ul>
        </div>
    </div>
</aside>